<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>its <%= day %></h1>
    </div>
   <div class="box">
      
    <% for(var i=0;i<items.length;i++){%>
        <form action="/delete" method="POST">
        <div class="items">
            <input type="checkbox" name="checkbox" value="<%=items[i]._id%>" id="" onchange="this.form.submit()">
        <p> <%=items[i].task%></p>
    </div>
</form>
    <%}%>

    <form action="/" method="POST">
        <input type="text" placeholder="Enter Task" name="newItem" autocomplete="off">
        <button type="submit" class="add" name="bt" value="<%=items[0].topic %>" >+</button>
    </form>
</div>
</body>
</html>